10.9.1.120: CN computer
10.9.1.13: additional address on same interface of CN computer
127.0.0.1: osmo-cscn for IuCS, internal on CN computer
127.0.0.2: osmo-sgsn for IuPS, internal on CN computer
10.23.42.0/24: addresses given to subscribing phones within GTP
8.8.8.8: a well known DNS server
